<div ng-include="'/views/navigation.html'"></div>

<div class="game_content">
  <div id="map-canvas"></div>
  <div class="market">
    <div class="black_market_title">
    <h3 id="blackM">Black Market</h3>
    </div>
    <tabset>
      <tab heading="Buy" id="buy">
        <table class="table table-hover" id="buyTable">
          <tr>
            <th>Item</th>
            <th>Price<font color="red">(No Refunds)</font></th>
            <th></th>
          </tr>
          <tr ng-repeat="item in blackMarket.onsale">
            <td>{{item.name}}</td>
            <td>${{item.price}}</td>
            <td>
              <button type="button" class="btn btn-default btn-sm" ng-click="notifyBuy($index)">Buy</button>
            </td>
          </tr>
        </table>
      </tab>
      <tab heading="Analyze" id="analyze">
        <h3>I can help you decrypt data :D</h3>
        <p><font color="red">WARNING: You will lose your encrypted data</font></p>
        <button type="button" class="btn btn-larde btn-success" ng-click="notifyAnalyze($index)">Decrypt</button>
      </tab>
      <tab heading="Sell" id="sell">
        <h3>Selling anything today?</h3>
    	  <p><font color="red">WARNING: You will lose all your inventory</font><p>
		    <button type="button" class="btn btn-larde btn-success" ng-click="notifySell($index)">Sell</button>
      </tab>
    </tabset>
  </div>

  <div class="inventory" id="inventoryBigHeader">
  <h3 id="inventoryHeader">Inventory</h3>
    <table class="table" id="inventoryStuff">
      <tr>
        <th>Name</th>
        <th>Hit factor</th>
      </tr>
      <tr ng-repeat="inventory in player.inventory" ng-class="{highlight: inventory.selected}">
        <td>{{inventory.name}}</td>
        <td>{{inventory.hitfactor}}</td>
        <td><button type="button" class="btn btn-default btn-sm" ng-click="selectInv($index)">Select</button></td>
      </tr>
        
        
      </tr>
    </table>
  </div>
</div>


<div id="game-notify" ng-show="showMessage">
  <div>{{notifyMessage}}</div>
</div>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3>Game Over!</h3>
  </div>
  <div class="modal-body">
     <h4>I'm so Sorry</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>