
  <div class="container" id="bodystart">
    <div class="jumbotron" id="jumbo" style="margin:0px auto; width:45%; background: transparent">
      <h1 style="text-align:center;">  Honey Pot </h1>
      <a href="/#/game" class="btn btn-larde btn-success"> Start Game </a>
      <a href="/#/tutorial" class="btn btn-larde btn-warning"> Start Tutorial </a>
    </div>
  </div>

  <div class="footer" style="margin:0px auto; width:45%; background: transparent">
  	<img src="/images/Slide2.png">
    <p>♥ from the Surviving Monday team</p>
  </div>


