<div class="container text-center">
 <h1 style="text-align:center;">  Tutorial </h1>

  <div class="container">


  <div class = "container">
			<div class = "jumbotron">
			<h2>Why Play Honey Pot?</h2>
  <p>Honey Pot teaches users the dangers of using public-access computers that often are honeypots that
  	lure unwary users when they input their usernames and passwords. The game simulates a scenario where a player is placed in the shoes of a hacker, and
  	 is given a behind the scenes view of how various softwares tools like a key-logger is used
  	 to gain illegal access to sensitive data from public computers</p>
				<img src= "images/Slide1.png ">
				<p></p>

      <a href="/officialdemo/#/main" class="btn btn-larde btn-warning"> Back </a>
      <a href="/officialdemo/#/game" class="btn btn-larde btn-success"> Next </a>

			</div>

		</div>
  </div>


</div>
